* {
    text-align: center;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
#questions {
    width: 70%;
    margin: 20px auto;
}
#questions p {
    width: 45%;
    display: inline-block;
    margin: 20px 5px;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}